body {
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

title {
    text-align: center;
    font-family: "FF Providence Sans", sans-serif;
    font-weight: bolder;
    margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 1em;
}

li{
  display: inline;
}

li a{
  text-decoration: none;
  background-color: lightgray;
  color: black;
  padding: 20px;
}

nav {
  background-color: lightblue;
  border-top: 3px dashed #AB0026;
  border-bottom: 3px dashed #AB0026;
}

li a:hover{
  text-decoration: underline !important;
  background-color: lightslategray;
}

p1 {
    font-weight: bolder;
    padding: 25px;
    background-color: lightgreen;
}